uml.py
.cryptenv/
.venv/
.python-version/
db/crypto_trading_save.db
antoine
.vscode/
ml_hour_short_term.py
recuperation_bis.py
algo_crypto/
.pytest_cache/
__pycache__
*.pyc
*.pyo
*.pyd
.python-version
.env
scripts/setup.ps1
scripts/setup.sh
.testenv/
docker/Dockerfile.airflow.save
db/
old_tests/
.github/workflows/old_ci.yml
app_streamlit/app_save.py